---
import type { Node } from "@components/toc/Toc.astro";

export type Props = { node: Node };
const { node } = Astro.props;
---

<li class={`depth${node.depth}`}>
  {node.heading && <a href={"#" + node.heading.slug}>{node.heading.text}</a>}
  {
    node.subheadings.length > 0 && (
      <ul>
        {node.subheadings.map((subheading) => (
          <Astro.self node={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style lang="scss">
  @use "@styles/basePalette.scss";

  a {
    color: basePalette.$gray;
    font-size: 14px;
    font-weight: 500;
  }

  .depth1,
  .depth2 {
    list-style: disc outside;
    line-height: 1.6;

    &::marker {
      color: basePalette.$deepSkyBlue;
      font-weight: bold;
    }
  }

  .depth3 {
    list-style: none outside;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 5px 0 5px 20px;

    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      left: 0;
      top: 14px;
      content: "";
      border-right: 2px solid basePalette.$deepSkyBlue;
      border-top: 2px solid basePalette.$deepSkyBlue;
      transform: rotate(45deg);
    }
  }
</style>
