$black: #3a3a3a;
$darkGray: #444444;
$gray: #666666;
$lightGray: #8888aa;
$whiteGray: #e7eaf4;
$grayWhite: #f2f2ff;
$lightWhite: #f2f6fa;
$white: #ffffff;
$lightBlue: #ecf5ff;
$skyBlue: #a0defa;
$deepSkyBlue: #79cbf4;
$blue: #1898d2;