---
import { getCollection } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import PostsList from "@components/PostsList.astro";
import Nerd from "@components/nerd/Nerd.astro";
import { toDisplayName } from "@components/nerd/NerdUtils";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  return tags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { slug: tag },
      props: { posts: filteredPosts },
    };
  });
}

const { slug } = Astro.params;
const { posts } = Astro.props;
---

<ContentLayout>
  <div class="hero">
    <div class="icon">
      <Nerd iconName={slug!} />
    </div>
    <p class="iconName">{toDisplayName(slug!)}</p>
  </div>
  <div class="contentWrapper">
    <div class="content">
      <p class="navigationText">Posts</p>
      <div class="postsList">
        <PostsList posts={posts} />
      </div>
    </div>
  </div>
</ContentLayout>

<style lang="scss">
  @use "@styles/basePalette.scss";

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 45px 0;
    & > .icon {
      width: 130px;
      height: 130px;
      margin: 22px 0;
      border: 2px solid basePalette.$whiteGray;
      border-radius: 30px;
      background-color: basePalette.$white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 55px;
    }
    & > .iconName {
      margin: 0 0 22px 0;
      color: basePalette.$darkGray;
      font-size: 30px;
      font-weight: 700;
    }
  }
  .contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: basePalette.$lightBlue;
    & > .content {
      width: 100%;
      max-width: 1000px;
      box-sizing: border-box;
      padding: 30px;
      & > .navigationText {
        font-size: 30px;
        font-weight: 600;
        color: basePalette.$darkGray;
        margin: 0 0 0 50px;
      }
      & > .postsList {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .hero {
      & > .profileIcon {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
      & > .siteName {
        font-size: 20px;
      }
    }
  }
  .contentWrapper {
    & > .content {
      padding: 36px 20px 20px 20px;
      & > .navigationText {
        font-size: 24px;
        margin: 0;
      }
    }
  }
</style>
