---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import PostsPageLayout from "@layouts/PostsPageLayout.astro";
import { SITE_NAME } from "src/consts.ts";
import profileIcon from "@assets/profileIcon.png";

const posts = (await getCollection("posts")).sort((a, b) => (a.data?.createdAt < b.data?.createdAt ? 1 : -1));
---

<PostsPageLayout posts={posts}>
  <div class="hero">
    <Image class="profileIcon" src={profileIcon} alt="profile icon" />
    <p class="siteName">{SITE_NAME}</p>
  </div>
</PostsPageLayout>

<style lang="scss">
  @use "@styles/basePalette.scss";

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0 70px 0;

    & > .profileIcon {
      width: 130px;
      height: 130px;
      border-radius: 65px;
    }

    & > .siteName {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .hero {
      & > .profileIcon {
        width: 90px;
        height: 90px;
        border-radius: 45px;
      }

      & > .siteName {
        font-size: 24px;
      }
    }
  }
</style>
