---
import { Image } from "astro:assets";
import { SITE_NAME, POSTSLISTPAGE_URL } from "src/consts";
import profileIcon from "@assets/profileIcon.png";
---

<header>
  <div class="infomation">
    <a href={POSTSLISTPAGE_URL} class="siteNameWrapper">
      <Image class="profileIcon" src={profileIcon} alt="profile icon" />
      <p class="siteName">{SITE_NAME}</p>
    </a>
  </div>
</header>

<style lang="scss">
  @use "@styles/basePalette.scss";

  header {
    width: 100%;
    height: 60px;
    background-color: basePalette.$white;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .infomation {
      width: 100%;
      max-width: 1400px;
      padding: 0 16px;

      & > .siteNameWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        & > .profileIcon {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }

        & > .siteName {
          font-size: 19px;
          font-weight: 700;
          color: basePalette.$black;
        }
      }
    }
  }
</style>
