---
import { type CollectionEntry } from "astro:content";
import Nerd from "@components/nerd/Nerd.astro";
import Tags from "@components/Tags.astro";
import { POSTPAGE_BASE_URL } from "src/consts";

export type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<div class="posts">
  {
    posts.map((post) => (
      <div class="post">
        <a href={POSTPAGE_BASE_URL + post.slug} class="icon">
          <Nerd iconName={post.data.tags[0]} />
        </a>
        <div class="infomation">
          <time datetime={post.data.createdAt.toISOString()}>
            <span class="material-symbols-outlined">schedule</span>
            <p>{new Intl.DateTimeFormat("ja-JP").format(post.data.createdAt)}</p>
          </time>
          <a href={POSTPAGE_BASE_URL + post.slug} class="postTitle">
            {post.data.title}
          </a>
          <div class="tags">
            <Tags tags={post.data.tags} />
          </div>
        </div>
      </div>
    ))
  }
</div>

<style lang="scss">
  @use "@styles/basePalette.scss";

  .posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    max-width: 1000px;
    background-color: basePalette.$lightBlue;

    & > .post {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      padding: 10px;

      & > .icon {
        width: 90px;
        height: 90px;
        border-radius: 20px;
        background-color: basePalette.$white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;
      }

      & > .infomation {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 14px;

        & > .postTitle {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        & > time {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: basePalette.$gray;
          font-size: 14px;

          & > .material-symbols-outlined {
            font-size: 14px;
            padding: 0 6px 0 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .posts {
      & > .post {
        & > .icon {
          width: 75px;
          height: 75px;
          border-radius: 16px;
        }

        & > .infomation {
          margin: 10px;

          & > .postTitle {
            font-size: 16px;
          }
        }
      }
    }
  }
</style>
