---
import { type CollectionEntry } from "astro:content";
import Nerd from "@components/nerd/Nerd.astro";
import Tags from "@components/Tags.astro";

export type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<div class="posts">
  {
    posts.map((post) => (
      <a href={"/blog/" + post.slug} class="post">
        <div class="icon">
          <Nerd iconName={post.data.tags[0]} />
        </div>
        <div class="infomation">
          <p>{post.data.title}</p>
          <div class="tags">
            <Tags tags={post.data.tags} />
          </div>
          <time datetime={post.data.createdAt.toISOString()}>
            <span class="material-symbols-outlined">schedule</span>
            <p>{new Intl.DateTimeFormat("ja-JP").format(post.data.createdAt)}</p>
          </time>
        </div>
      </a>
    ))
  }
</div>

<style lang="scss">
  @use "@styles/basePalette.scss";

  .posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    background-color: basePalette.$lightBlue;
    & > .post {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      width: 75%;
      padding: 10px;
      & > .icon {
        width: 90px;
        height: 90px;
        border-radius: 20px;
        background-color: basePalette.$white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4em;
      }
      & > .infomation {
        flex: 1;
        margin: 14px;
        & > p {
          font-weight: 500;
          font-size: 1.2em;
          line-height: 1.5em;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        & > .tags {
          height: 28px;
          margin: 6px 0;
        }
        & > time {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: basePalette.$gray;
          font-size: 14px;
          & > .material-symbols-outlined {
            font-size: 14px;
            padding: 0 6px 0 0;
          }
        }
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
</style>
