---
import { type CollectionEntry } from "astro:content";
import Toc from "@components/toc/Toc.astro";
import "@styles/post.scss";

export type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<div class="post">
  <Toc headings={headings} />
  <Content />
</div>
