---
import Nerd from "@components/nerd/Nerd.astro";
import { toDisplayName } from "@components/nerd/NerdUtils";
import { TAG_POSTSLISTPAGE_BASE_URL } from "src/consts";

export type Props = { tags: string[] };
const { tags } = Astro.props;
---

<div class="tags">
  {
    tags.map((tag: string) => (
      <a href={TAG_POSTSLISTPAGE_BASE_URL + tag} class="tag">
        <Nerd iconName={tag} />
        <p class="displayName">{toDisplayName(tag)}</p>
      </a>
    ))
  }
</div>

<style lang="scss">
  @use "@styles/basePalette.scss";

  .tags {
    height: 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    & > .tag {
      height: 28px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding: 13px 10px 13px 8px;
      font-size: 14px;
      color: basePalette.$darkGray;
      background-color: basePalette.$white;
      border: 1px solid basePalette.$whiteGray;
      border-radius: 14px;
    }
  }
</style>
