---
import BaseHead, { type Props as HeadProps } from "@components/BaseHead.astro";

import "@styles/reset.css";
import "@styles/global.css";

export type Props = HeadProps;
const { ...head } = Astro.props;
---

<!doctype html>
<html prefix="og: https://ogp.me/ns#" lang="jp">
  <head>
    <BaseHead {...head} />
  </head>
  <body>
    <slot />
  </body>
</html>
