---
import { type CollectionEntry } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import PostsList from "@components/PostsList.astro";
import { toDisplayName } from "src/components/nerd/NerdUtils";
import { getAllTags } from "src/utils/postsUtils";
import { TAG_POSTSLISTPAGE_BASE_URL } from "src/consts.ts";
import Nerd from "src/components/nerd/Nerd.astro";

const tags = await getAllTags();

export type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<ContentLayout>
  <slot />
  <div class="contentWrapper postsBlock">
    <div class="content">
      <p class="navigationText">Posts</p>
      <div class="postsList">
        {posts.length ? <PostsList posts={posts} /> : <p class="noPostText">記事がありません</p>}
      </div>
    </div>
  </div>
  <div class="contentWrapper tagsBlock">
    <div class="content">
      <p class="navigationText">Tags</p>
      <div class="tags">
        {
          tags.map((tag) => (
            <a href={TAG_POSTSLISTPAGE_BASE_URL + tag} class="tag">
              <div class="icon">
                <Nerd iconName={tag} />
              </div>
              <p class="iconName">{toDisplayName(tag)}</p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</ContentLayout>

<style lang="scss">
  @use "@styles/basePalette.scss";

  .postsBlock {
    background-color: basePalette.$lightBlue;
  }

  .tagsBlock {
    background-color: basePalette.$white;
  }

  .contentWrapper {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .content {
      width: 100%;
      max-width: 950px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 48px;

      & > .navigationText {
        font-size: 30px;
        font-weight: 600;
        color: basePalette.$darkGray;
      }

      & > .postsList {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .noPostText {
          padding: 125px 0;
          color: basePalette.$gray;
          font-weight: 500;
        }
      }

      & > .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 16px auto;

        & > .tag {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin: 20px 20px 34px 20px;

          & > .icon {
            width: 90px;
            height: 90px;
            border: 2px solid basePalette.$whiteGray;
            border-radius: 20px;
            background-color: basePalette.$white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 38px;
          }

          & > .iconName {
            color: basePalette.$darkGray;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .hero {
      & > .profileIcon {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }

      & > .siteName {
        font-size: 20px;
      }
    }

    .contentWrapper {
      & > .content {
        gap: 0px;
        padding: 24px;

        & > .navigationText {
          font-size: 24px;
        }

        & > .tags {
          & > .tag {
            margin: 10px 10px 16px 10px;

            & > .icon {
              width: 75px;
              height: 75px;
              border-radius: 16px;
            }

            & > .iconName {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
</style>
